{% extends 'main.html' %}
{% load static %}

{% block content %}
<h2 class="form-heading text-center">
    Registration Form <div class="bottom-line"></div>
</h2>
<p class="form-lead text-center">Fill out the form field(s) below:</p>

<section id="form">
    <form action="{% url 'register' %}" method="post" class="form">
        {% csrf_token %}
        <div class="heading">
            <img src="{% static 'images/farmeclogo.png' %}" alt="">
            <h1>Dealer Registration:</h1>
            <h2>Enter details below... <div class="bottom-line"></div>
            </h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% for field in form %}
        <div class="input">
            <h1>{{field.label}}:</h1>
            <p>{{field}}</p>
        </div>
        {% endfor %}
        <button class="btn-nav">
            <input type="submit" value="Register" class="login btn-small btn-primary form-button" class="form-button">
        </button>
    </form>
</section>
{% endblock content %}