{% extends 'main.html' %}

{% block content %}

<h2 class="form-heading text-center">
    {% if request.resolver_match.url_name == 'delete-blog' %}
    Blog Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-exhibition' %}
    Exhibition Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-employee' %}
    Employee Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-timeline' %}
    Timeline Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-privacy' %}
    Privacy Policy Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-terms' %}
    Terms & Conditions Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-profile' %}
    Profile Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-stat' %}
    Display Stats Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-special' %}
    Display Specials Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-registration' %}
    Machine Registration Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-supplier-page' %}
    Supplier Page Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-parts-page' %}
    Parts Page Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-warranty' %}
    Warranty Claim Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-supplier' %}
    Supplier Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-machine' %}
    Machine Form <div class="bottom-line"></div>
    {% elif request.resolver_match.url_name == 'delete-product' %}
    Product Form <div class="bottom-line"></div>

    {% else %}
    Form <div class="bottom-line"></div>
    {% endif %}
</h2>
<p class="form-lead text-center">Select from the option(s) below:</p>


<section id="form">
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <p class="delete-form">Are you sure you want to delete "{{object}}"?
        <div class="bottom-line"></div>
        </p>
        <button class="form-buttons btn-nav">
            <a class="btn btn-secondary form-button" href="javascript:history.back()">Go Back</a>
            <input class="btn btn-primary form-button" type="submit" value="Confirm" />
        </button>
    </form>
</section>
{% endblock content %}