/* About Page - Team Section */
#about-team {
	padding: 1rem;
	justify-content: center;  
	box-sizing: border-box;
}

#about-team .about-info {
	justify-content: center;
	text-align: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* margin: 2.5rem; */
}

#about-team .card {
	position: relative;
	width: 300px;
	background-color: var(--medium-color);
	color: var(--dark-color);
	border-radius: 10px;
	padding: 1rem;
	margin: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s linear;
}

#about-team .card:hover {
	transform: scale(1.05);
}

#about-team .card-image {
	height: 150px;  
	width: 150px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

#about-team .card-image img {
	object-fit: cover;
	width: 150px;
	height: 150px;
}

#about-team p {
	line-height: 24px;
	letter-spacing: 0.5px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

#about-team .name {
	margin-top: 5rem;
	margin-bottom: 0.5rem;
}

#about-team .social {
	display: flex; 
	align-items: center;
	justify-content: center;
}

#about-team button {
	margin: 12px 8px;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s linear;
}

#about-team button:hover {
	transform: scale(1.05);
}