#main-blog {
    margin: 5rem 8rem 1rem 8rem;
}

#main-blog .blog-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 0 4rem 0;
    background-color: var(--mdark-color);
    color: var(--light-color);
    border: 5px solid var(--darker-color);
    border-radius: 1rem;
}

#main-blog .blog-grid img {
    object-fit: cover;
    width: 40rem;
    border-right: 5px solid var(--darker-color);
    border-start-start-radius: .75rem;
    border-end-start-radius: .75rem;
}

#main-blog .blog-grid .blog-description {
    padding: 1rem;
}

#main-blog .blog-grid .blog-description h2,
#main-blog .blog-grid .blog-description h1 {
    color: var(--light-color);
    font-size: 1.2rem;
}

#main-blog .blog-grid .blog-description p {
    font-size: 1rem;
    font-weight: 500;
}

#main-blog .blog-grid .blog-description a {
    margin-top: 1.5rem;
}

/* Individual Blog Post */
#blog-post {
    margin: 4rem 6rem 2rem 6rem;
    display: flex;
    flex-direction: column;
}

#blog-post h2 {
    font-size: 2rem;
    font-weight: 700;
}

#blog-post img {
    margin: 1rem 10rem 1rem 10rem;
    height: 40rem;
    object-fit: cover;
    border: 2px solid var(--mdark-color);
    border-radius: 1rem;
    border: 4px solid var(--darker-color);
}

#blog-post a {
    display: inline-block;
    margin: 0.25rem auto;
    text-align: center;
}

#blog-post h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

#blog-post p {
    margin: 0 5rem;
    padding: 0 5rem;
    font-size: 1rem;
    font-weight: 500;
}

.form-buttons {
    display: flex;
    margin: 0 auto;
}

.form-button {
    margin: 0.25rem;
    text-align: center;
    justify-content: center;
}
