/* Blurb Section */
#blurb .section-heading {
	margin-bottom: 1rem;
}

#blurb .blog-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	background-color: var(--mdark-color);
	color: var(--light-color);
	border-top: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
}

#blurb .blog-grid img {
	display: flex;
	width: 35rem;
	object-fit: cover;
	border-right: 2px solid var(--medium-color);
}

#blurb .blog-grid .blog-description {
	padding: 1.5rem;
}

#blurb .blog-grid .blog-description a {
	margin-top: 1.5rem;
}