/* Footer */
#main-footer {
	background-image: var(--gradient-dark);
	color: var(--light-color);
}

#main-footer .footer-content {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#main-footer .navigation ul {
	display: flex;
}

#main-footer .navigation li {
	margin: 0 0.5rem;
	list-style: none;
	font-size: 1.25rem;
	justify-content: space-between;
	transition: all 0.5s ease-in;
}

#main-footer .footer-content p {
	font-size: 1.25rem;
	text-align: center;
}

#main-footer .footer-content li a,
#main-footer .footer-content .soc {
	text-decoration: none;
	color: var(--light-color);
	transition: all 0.5s ease-in;
}

#main-footer .navigation li:hover,
#main-footer .navigation a:hover {
	transform: scale(1.05);
	color: var(--primary-color);
}

#main-footer .social .fab {
	border: 3px var(--medium-color) solid;
	margin: 0 1rem;
	border-radius: 10px;
	height: 50px;
	width: 50px;
	line-height: 45px;
	text-align: center;
	transition: all 0.3s linear;
}

#main-footer .footer-content .social .fab:hover {
	background: var(--primary-color);
	transform: scale(1.05);
}

/* To top button */
#main-footer .to-top {
	background: var(--light-color);
	position: fixed;
	right: 0;
	margin-right: 2rem;
	margin-bottom: -0.75rem;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: var(--dark-color);
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
}

#main-footer .to-top.active {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
	cursor: pointer;
}

#main-footer .to-top.active:hover {
	transform: scale(1.1);
}

