#form {
    display: flex;
    margin: 7.5rem 12rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#form .form {
    background-color: var(--mdark-color);
    border: 3px solid var(--primary-color);
    padding: 3rem;
    border-radius: 2rem;
}

#form .form-fields {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#form .input {
    width: 45rem;
    text-align: start;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 0.8rem;
}

#form .input h1 {
    color: var(--light-color);
    text-decoration: underline;
    font-weight: 700;
}

#form .input p {
    color: var(--light-color);
}

#form .form-button {
    margin: 1rem;
}

.delete-form {
    color: var(--light-color);
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
