/* Carousel */
#carousel .carousel {
    height: 100vh;
    width: 100vh;
    margin: 0;
}

#carousel .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#carousel .carousel > li {
    list-style: none;
    overflow: hidden;
}

#carousel .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

#carousel .slide > img {
    display: inline-block; 
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

#carousel .slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;
}

#carousel .carousel-button {
    position: absolute;
    z-index: 1;
    border: none;
    background: none;
    top: 50%;
    font-size: 2.5rem;
    opacity: 0.8;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    border-radius: .25rem;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.75);
    transition: all 400ms linear;
}

#carousel .carousel-button:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.95);
}

#carousel .carousel-button.prev {
    left: 1rem;
}

#carousel .carousel-button.next {
    right: 1rem;
    transition: all 400ms linear;
}

/* Header content - home page */
#carousel .header-content {
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
  
#carousel .header-subcontent {
    justify-content: center;
    text-align: center;
}
  
#carousel .header-subcontent h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--light-color);
}
  
#carousel .header-subcontent a {
    font-weight: 700;
    font-size: 1rem;
}
  