/* Header content - home page */
.header-content {
    position: relative;
    text-align: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  
  }
  
.header-content::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    background: url('../images/mx.jpeg') no-repeat center center/cover;
}
  
.header-subcontent {
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin-top: 42rem;
    z-index: 1;
}
  
.header-subcontent h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--light-color);
}
  
.header-subcontent a {
    font-weight: 600;
    font-size: 1rem;
}
  