/* Styles imports */
@import 'utils.css';
@import 'navbar.css';
@import 'header.css';
@import 'footer.css';
@import 'about.css';
@import 'timeline.css';
@import 'blog.css';
@import 'media.css';

/* Home Grid - Stats */
#home .stats div {
	padding: 3rem 0 2rem 0;
}

#home .stats {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1;
	place-items: center;
	justify-content: space-evenly;
}

#home .stats ul {
	list-style: none;
}

#home .stats ul h1,
#home .stats ul .stats-title,
#home .stats ul .stats-number {
	font-size: 1.25rem;
}

#home .stats a {
	text-decoration: none;
	color: var(--mdark-color);
}

/* Home Grid - Specials */
#home .specials div {
	padding: 2.5rem 0 2rem 0;
}

#home .specials {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1;
	place-items: center;
	justify-content: space-evenly;
}

#home .specials ul {
	list-style: none;
}

#home .specials li {
	font-size: 1.1rem;
}

#home .specials a {
	text-decoration: none;
	color: var(--mdark-color);
}

#home ul,
#home .stats a {
	transition: all 0.5s ease-in-out;
}

#home ul:hover,
#home .stats a:hover {
	transform: scale(1.05);
	color: var(--primary-color);
	cursor: pointer;
}
