/* Logo */
#logo {
    display: flex;
    height: 4.25rem;
    padding-bottom: 10px;
    padding-left: 50px;
    z-index: 1;
    transition: all 0.5s linear;
}

#logo:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#navbar .toggle-button {
    position: absolute;
    top: 1.35rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

#navbar .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--light-color);
    border-radius: 10px;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    position: absolute;
    width: 100vw;
    z-index: 1000000;
    background: var(--dark-color);
}

#navbar.main-page {
    background: transparent;
    color: var(--mdark-color);
}

#navbar.main-page a {
    color: var(--mdark-color);  
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul .nav-list {
    display: flex;
    align-items: center;
    position: absolute;
}

#navbar li {
    padding: 1rem 1rem;
    padding-right: 5rem;
    font-size: 1.05rem;
    font-weight: 500;
    list-style: none;
    transition: all 0.5s linear;
}

#navbar a {
    text-decoration: none;
    color: var(--light-color);
    text-transform: uppercase;
    font-weight: 800;
}

#navbar li .nav-list-item {
    position: relative;
}

#navbar .nav-list-item::after {
    content: '';
    width: 0;
    height: 0.2rem;
    border-radius: 10px;
    position: absolute;
    left: 0.4rem;
    bottom: 1.5rem;
    background-color: var(--primary-color);
    transition: width 200ms ease-in;
}

#navbar .nav-list-item:hover::after,
#navbar .nav-list-item:focus::after {
    width: 60%;
}

#navbar .nav-list-item:hover ul,
#navbar .nav-list-item:focus ul {
    opacity: 1;
    visibility: visible;
}

#navbar .nav-drop {
    position: absolute;
    top: 3rem;
    left: -1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--dark-color);
    border-radius: 10px;
    width: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-in;
}

#navbar .nav-drop li {
    list-style: none;
    padding: 0rem 1rem;
    border-radius: 10px;
    background-color: var(--dark-color);
    box-shadow: 0 2px 2px -2px rgba(255, 255, 255, 0.2);
    transition: background-color 200ms ease-in;
    font-size: 0.9rem;
    font-weight: 600;
}

#navbar .nav-drop li a {
    color: var(--light-color);
}

#navbar .nav-drop li:hover,
#navbar .nav-drop li:focus {
    background-color: var(--primary-color);
}

#navbar .nav-list-item:hover {
    transform: scale(1.01);
}

#navbar a.current {
    color: var(--primary-color);
    font-weight: 700;
}
