#products .product-index {
    background-color: var(--mdark-color);
    color: var(--light-color);
    margin: 7.5rem 10rem 0 10rem;
    padding: 2rem 3.5rem;
    border: 5px solid var(--darker-color);
    border-radius: 2rem;
}


#products .product-index h5 {
    font-size: 1.75rem;
}

#products .product-index h1 {
    font-size: 1rem;
    padding: .25rem;
    margin-top: .25rem;
}

#products .product-index a {
    text-decoration: none;
    color: var(--light-color);
    transition: all 0.3s linear;
}

#products .product-index a:hover {
    color: var(--primary-color);
}


#products .product-grid {
    margin: 3rem 10rem 2rem 10rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: var(--mdark-color);
    color: var(--light-color);
    border-radius: 2rem;
    border: 5px solid var(--darker-color);
    transition: all 300ms linear;
}

#products .product-grid h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;  
}

#products .product-grid img {
    margin: 0 auto 0 auto;
    width: 45rem;
    object-fit: cover;
}

#products .product-grid p {
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    font-weight: 600;
}

#products a {
    margin: 0 auto .25rem auto;
}

#products a i {
    margin-left: 1rem;
}

#products .btn-create {
    margin-top: 1rem;
}

#products .btn-loop {
    margin-top: 1rem;
}

