#suppliers {
    margin: 8rem 4rem;
}

#suppliers .supplier-profile {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem;
    background: var(--mdark-color);
    border-radius: 2rem;
}

#suppliers .supplier-info {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

#suppliers .supplier-info img {
    width: 10rem;
}

#suppliers .supplier-info h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-color);
}

#suppliers .marketing-image {
    width: 35rem;
    border-radius: 2rem;
    border: 4px solid var(--medium-color);
}

/* #suppliers .supplier-description {

} */

#suppliers .supplier-description p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--medium-color);
}

#suppliers .supplier-facts {
    color: var(--medium-color);
}

#suppliers .supplier-facts ul {
    list-style: none;
}

#suppliers .supplier-facts li {
    margin-bottom: 1rem;
}

#suppliers .supplier-social {
    position: absolute;
	display: flex; 
	align-items: center;
    margin-top: -45rem;
    margin-left: 2rem;
}

#suppliers .supplier-social i {
    font-size: 2.5rem;
}

#suppliers button {
	margin: 1rem;
	width: 4rem;
	height: 4rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s linear;
}

#suppliers button:hover {
	transform: scale(1.05);
}

#suppliers .button {
    position: absolute;
    text-decoration: none;
    color: var(--light-color);
    background: var(--primary-color);
    border: 0.5rem solid var(--primary-color);
    border-radius: 2rem;
    padding: 0rem 2.5rem;
    transition: all 0.5s linear;
    font-size: 1rem;
    margin: -38.5rem 3rem;
}

#suppliers .button:hover {
    transform: scale(1.01);
}
