#suppliers {
    margin: 8rem 4rem;
}

#suppliers .supplier-profile {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem;
    background: var(--mdark-color);
    color: var(--medium-color);
    border-radius: 2rem;
    margin-bottom: 3rem;
}

#suppliers .supplier-info {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

#suppliers .supplier-info img {
    width: 10rem;
}

#suppliers .supplier-info h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-color);
}

#suppliers .marketing-image {
    width: 35rem;
    border-radius: 2rem;
    border: 4px solid var(--medium-color);
}

#suppliers .supplier-description p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--medium-color);
}

#suppliers .supplier-facts {
    color: var(--medium-color);
}

#suppliers .supplier-facts ul {
    list-style: none;
}

#suppliers .supplier-facts li {
    margin-bottom: 1rem;
}

/* link-grid */
#suppliers .link-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: .5rem;
}

#suppliers .supplier-link {
    background: none;
    border: none;
    justify-self: start;
}

#suppliers .supplier-link a i {
    margin-left: .25rem;
    margin-top: .25rem;
}

#suppliers .supplier-social {
    justify-self: start;
}

#suppliers .supplier-social i {
    font-size: 2.5rem;
}

#suppliers .supplier-social button {
	width: 3.5rem;
	height: 3.5rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s linear;
    margin-right: 1rem;

}

#suppliers .supplier-social button:hover {
	transform: scale(1.05);
}

/* Profile Page */
#profile .profile-body {
    border-radius: 2rem;
    padding: 6rem 2rem;
    background-color: var(none);
}

#profile .profile-header {
    height: 100%;
}

#profile .profile-header h1 {
    font-size: 2rem;
    font-weight: 600;
}

#profile .profile-image {
    margin-top: 1rem;
}

#profile .profile-image img {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 95%;
    border: 2rem transparent var(--dark-color);
    border-radius: 2rem;
}

#profile .nav-button a {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#profile .profile-grid-description {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin: 1rem 5rem;
}

#profile .profile-grid-description img {
    width: 20rem;
    margin: auto;
}

#profile .profile-grid-description p {
    max-height: 20rem;
    font-size: 1rem;
    font-weight: 500;
}

#profile .profile-image {
    margin-top: 1rem;
}

#profile .profile-image img {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 95%;
    height: 40rem;
    border: 2rem transparent var(--dark-color);
    border-radius: 2rem;
}

#profile .profile-facts {
    margin: 2rem 5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

#profile .nav-button {
    display: flex;
    margin: 2rem;
}