/* Variables */
:root {
    --website-width: 100vw;
    --primary-color: #d90000;
    --light-color: #f4f4f4;
    --medium-color: #ccc;
    --darker-color: #636363;
    --mdark-color: #2f2f2f;
    --dark-color: #212121;
    --gradient-primary: linear-gradient(#db0101 70%, #a20202);
    --gradient-dark: linear-gradient(#1f1e1e 60%, #0f0f0f);
    --gradient-light: linear-gradient(#dddddd 60%, #9f9e9e);
}

/* General Utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--gradient-dark) var(--gradient-light);
}

html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--darker-color);
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-image: var(--gradient-dark);
}

body {
    font-family: "Dosis", sans-serif;
    line-height: 1.6;
    background: #fff;
    overflow-x: hidden;
    background-image: var(--gradient-light);
}  

h2, h3, h4 {
    text-transform: uppercase;
} 
  
.container {
    max-width: var(--website-width);
    overflow: hidden;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: .5rem 3rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s linear;
    font-size: 1.1rem;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
}

/* Paragraph leads */
.lead {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--dark-color);
}

.lead-1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--dark-color);
}

/* Miscellaeneous */
.spacing {
    margin-top: 3rem;
}

.spacing-bottom {
    margin-bottom: 3rem;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.section-title {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 500;
}

.bottom-line {
    height: 2px;
    width: 15rem;
    background: var(--primary-color);
    display: block;
    margin: 0 auto .5rem auto;
}

/* backgrounds */
.bg-primary {
    background: var(--primary-color);
    color: var(--light-color);
}

.bg-light {
    background: var(--light-color);
    color: var(--dark-color);
}

.bg-dark {
    background: var(--dark-color);
    color: var(--light-color);
}

.bg-medium {
    background: var(--medium-color);
    color: var(--light-color);
}

/* Padding */
.py-1 {
    padding: 1rem;
}

.py-2 {
    padding: 2rem;
}
