{% extends 'main.html' %}
{% load static %}

{% block content %}
<!-- About - Team -->
<section id="about-team" class="text-center py-2">
    <div class="container">
        <h2>Our Team</h2>
        <div class="bottom-line"></div>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, cumque.</p>

        <!-- Bio Section -->
        {% for member in members %}
        <div class="spacing">
            <div class="about-info">
                <img src="{{member.imageurl}}" alt="" class="bio-image">
                <div class="bio bg-light">
                    <h1>Name: {{member.name}}</h1>
                    <h1>Email: {{member.email}}</h1>
                    <h1>Role: Office Management, Admin & Marketing</h1>
                    <h1>Short Bio: {{member.bio}}
                    </h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}