{% extends 'main.html' %}
{% load static %}

{% block content %}
<!-- About - Timeline -->
<section id="timeline" class="text-center py-2">
    <div class="container spacing">
        <div class="top-section">
            <h1>Animated Timeline</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore corporis rerum consequuntur atque
                similique perspiciatis esse, ipsum adipisci. Non, beatae inventore officia exercitationem placeat
                ullam qui maiores. Nobis, architecto tempore.
            </p>
        </div>

        <div class="timeline">
            <div class="line"></div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About - Team -->
<section id="about-team" class="text-center py-2">
    <div class="container spacing">
        <h2>Our Team</h2>
        <div class="bottom-line"></div>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, cumque.</p>

        <!-- Bio Section -->
        {% for member in members %}
        <div class="spacing">
            <div class="about-info">
                <img src="{{member.imageurl}}" alt="" class="bio-image">
                <div class="bio bg-light">
                    <h1>Name: {{member.name}}</h1>
                    <h1>Email: {{member.email}}</h1>
                    <h1>Role: Office Management, Admin & Marketing</h1>
                    <h1>Short Bio: Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dicta magnam tempora
                        corporis architecto illum quidem eaque ducimus mollitia error!
                    </h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}