{% extends 'main.html' %}

{% block content %}

<h2 class="form-heading text-center">
    Cancel Payment <div class="bottom-line"></div>
</h2>
<p class="form-lead text-center">Select from the option(s) below:</p>


<section id="form">
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <p class="delete-form">Are you sure you want to cancel?
        <div class="bottom-line"></div>
        </p>
        <button class="form-buttons btn-nav">
            <a class="btn btn-secondary form-button" href="javascript:history.back()">Go Back</a>
            <input class="btn btn-primary form-button" type="submit" value="Confirm" />
        </button>
    </form>
</section>
{% endblock content %}