{% extends 'main.html' %}
{% load static %}

{% block content %}
<section id="stripe-form">
    <div id="payments-view">
        <h2 class="form-heading text-center">
            {% if request.resolver_match.url_name == 'payments' %}
            Payments Form <div class="bottom-line"></div>
            {% endif %}
        </h2>
        <p class="form-lead text-center">Use this page if regular checkout page is not working</p>
        <form action="{% url 'create-checkout-session' product.id %}" method="POST">
            {% csrf_token %}
            <div class="product-view text-center">
                {% if product.imageurl %}
                <img src="{{product.imageurl}}" alt="Product Image" class="payment-product-image">
                {% endif %}

                <h1>Product: {{product.name}}</h1>
                <h1>Price: €{{product.get_price_in_euro}}</h1>
            </div>
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>
</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/payments.js' %}" defer></script>
{% endblock content %}