{% extends 'main.html' %}

{% block content %}

<section id="products-view">
    <h2 class="form-heading text-center">
        {% if request.resolver_match.url_name == 'stripe-products' %}
        Products Page <div class="bottom-line"></div>
        {% endif %}
    </h2>
    <p class="form-lead text-center">Use this page to View Product used for payments</p>

    {% if request.user.is_superuser %}
    <button class="btn-nav">
        <a class="btn btn-secondary" href="{% url 'create-stripe-product' %}">Create Product
            <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
    </button>
    {% endif %}

    {% if request.user.is_superuser %}
    {% for product in products %}
    <div class="payment-products">
        <div class="product-view">
            <div class="product-view text-center">
                <h1>Product: {{product.name}}</h1>
                <h1>Price: €{{product.get_display_price}}</h1>
                <img src="{{product.imageurl}}" alt="">
            </div>
        </div>
        <div class="form-buttons btn-nav">
            <a class="btn-small btn-secondary form-button" href="{% url 'update-stripe-product' product.id %}"><i
                    class="fa-solid fa-user-pen"></i>
            </a>
            <a class="btn-small btn-secondary form-button" href="{% url 'delete-stripe-product' product.id %}"><i
                    class="fa-solid fa-trash"></i>
            </a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>
{% endblock content %}