{% extends 'main.html' %}

{% block content %}

<section id="warranty-machine">
    {% for machinereg in machinereg %}
    <div class="warranty-machine-grid">
        <h1>{{machinereg.owner_name}} -- {{machinereg.dealer_name}}</h1>
        <button class="btn-nav form-button">
            <a class="btn btn-primary" href="{% url 'regsingle' pk=machinereg.pk %}">View Form
                <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
        </button>
    </div>
    {% endfor %}
</section>

{% endblock content %}