{% extends 'main.html' %}
{% load static %}
{% block content %}

<section id="form">
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% for field in form %}
        <div class="input">
            <h1>{{field.label}}:</h1>
            <p>{{field}}</p>
        </div>
        {% endfor %}
        <div id="form-container">
            {{formset.management_form}}
            {% for field in formset %}
            <div class="input">
                <h1>Parts Required:</h1>
                <p>{{field}}</p>
            </div>
        </div>
        <div id="empty-form" class="input" style="display: none;">
            <p>{{formset.empty_form}}</p>
        </div>
        {% endfor %}
        <button class="btn btn-primary" id="add-more" type="button">Add More</button>
        <input class="submit btn btn-primary" type="submit"></input>
    </form>
</section>

<script src="{% static 'js/warranty.js' %}"></script>

{% endblock content %}