{% extends 'main.html' %}
{% load static %}
{% block content %}

<section id="form">
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="input">
            <h1>{{field.label}}:</h1>
            <p>{{field}}</p>
        </div>
        {% endfor %}
        <div id="form-container">
            {{formset.management_form}}
            {% for field in formset %}
            <div class="input">
                <h1>Parts Required:</h1>
                <p>{{field}}</p>
            </div>
            <div id="empty-form" class="input" style="display: none;">
                <p>{{formset}}</p>
            </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary" id="add-more" type="button">Add More</button>
        <input class="submit btn btn-primary" type="submit"></input>
    </form>
</section>


<script>
    document.getElementById("add-more").onclick = function () {
        var emptyForm = document.getElementById("empty-form");
        var newForm = emptyForm.cloneNode(true);
        newForm.style.display = "block";
        document.getElementById("form-container").appendChild(newForm);
    }
</script>

{% endblock content %}