{% extends 'main.html' %}

{% block content %}

<section id="form">
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="input">
            <h1>{{field.label}}:</h1>
            <p>{{field}}</p>
        </div>
        {% endfor %}

        {% for formset_form in formset %}
        {% for field in formset_form.visible_fields %}
        <div class="input">
            <table>
                <thead>{{field.label}}:</thead>
                <tr>{{field}}</tr>
            </table>
        </div>
        {% endfor %}
        {% endfor %}

        <!-- <section id="formset">
            {% for formset_form in formset %}
            {% for field in formset_form.visible_fields %}
            <div class="input">
                <h1>{{field.label}}:</h1>
                <p>{{field}}</p>
            </div>
            {% endfor %}
            {% endfor %}
        </section> -->
        <input class="submit btn btn-primary" type="submit"></input>
    </form>
</section>

{% endblock content %}