{% extends 'main.html' %}

{% block content %}


<section id="supplier-parts">
    <div class="container">
        <h2 class="section-title">
            Spare-Parts: Brand Selection<div class="bottom-line"></div>
        </h2>

        {% if request.user.is_superuser %}
        <button class="btn-nav">
            <a class="btn btn-primary" href="{% url 'create-supplier-page' %}">Create Supplier
                <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
        </button>
        {% endif %}

        <div class="index">
            <h1 class="index-heading">Index:
                <div class="bottom-line-side"></div>
            </h1>
            {% for spareparts in spareparts %}
            <h1 class="index-name"><a class="index-link" href="#supplier-parts-{{forloop.counter}}">{{forloop.counter}}
                    . {{spareparts.name}}</a></h1>
            {% endfor %}
        </div>

        <div class="supplier-parts-grid">
            {% for spareparts in spareparts %}
            <div class="supplier-parts-items" id="supplier-parts-{{forloop.counter}}">
                <h1>{{spareparts.name}} <div class="bottom-line"></div>
                </h1>
                <img src="{{spareparts.logo_image.url}}" alt="">
                <button class="btn-nav">
                    <a href="{% url 'parts-page' pk=spareparts.pk %}" class="btn btn-primary">Spare-Parts
                        <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                    </a>
                </button>
                {% if request.user.is_superuser %}
                <div class="form-buttons btn-nav">
                    <a class="btn-small btn-secondary form-button"
                        href="{% url 'update-supplier-page' pk=spareparts.pk %}"><i class="fa-solid fa-user-pen"></i>
                    </a>
                    <a class="btn-small btn-secondary form-button"
                        href="{% url 'delete-supplier-page' pk=spareparts.pk %}"><i class="fa-solid fa-trash"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_superuser %}
        <button class="btn-nav form-buttons">
            <a class="btn-small btn-secondary form-button" href="{% url 'create-warranty' %}">Warranty Form <i
                    class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
            <a class="btn-small btn-secondary form-button" href="{% url 'create-registration' %}">Register Machine <i
                    class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
        </button>
        {% endif %}
    </div>
</section>

{% endblock content %}