{% extends 'main.html' %}

{% block content %}


<section id="warranty-machine">
    <div class="index">
        <h1 class="index-heading">Index:
            <div class="bottom-line-side"></div>
        </h1>
        {% for warranty in warranty %}
        <h1 class="index-name"><a class="index-link" href="#form-warranty-{{forloop.counter}}">{{forloop.counter}}
                . {{warranty.owner_name}}</a></h1>
        {% endfor %}
    </div>

    {% for warranty in warranty %}
    <div class="warranty-machine-grid" id="form-warranty-{{forloop.counter}}">
        <h1>{{forloop.counter}} . {{warranty.owner_name}} -- {{warranty.dealer}}</h1>
        <button class="btn-nav form-button">
            <a class="btn-small btn-primary" href="{% url 'single-warranty' pk=warranty.pk %}">View Form
                <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
        </button>
    </div>
    {% endfor %}
</section>

{% endblock content %}