{% extends 'main.html' %}

{% block content %}

<section id="warranty-machine">
    {% for warranty in warranty %}
    <div class="warranty-machine-grid">
        <h1>{{warranty.owner_name}} -- {{warranty.dealer}}</h1>
        <button class="btn-nav form-button">
            <a class="btn-small btn-primary" href="{% url 'single-warranty' pk=warranty.pk %}">View Form
                <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
        </button>
    </div>
    {% endfor %}
</section>

{% endblock content %}