{% extends 'main.html' %}

{% block content %}

<section id="blog-post">
    <h2 class="text-center spacing">
        {{blog.title}}<div class="bottom-line"></div>
    </h2>
    <a href="#post" class="btn btn-primary">Read Post <i class="fa-sharp fa-solid fa-circle-chevron-down"></i></a>
    <img src="{{blog.imageurl}}" alt="">
    <h1 class="text-center" id="post">
        {{blog.subheading}}<div class="bottom-line"></div>
    </h1>
    <p class="text-center">{{blog.body|linebreaks}}</p>
    <a class="btn-small btn-secondary form-button" href="{% url 'update-blog' pk=blog.pk %}">Update Blog <i
            class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
</section>

{% endblock content %}