{% extends 'main.html' %}
{% load static %}

{% block content %}

<section id="main-blog" class="spacing">
    <h2 class="section-title spacing-1 py-2">
        Check out our Latest Blog Posts<div class="bottom-line"></div>
    </h2>
    {% for blog in blogs %}
    <div class="blog-grid">
        <img src="{{blog.imageurl}}" alt="">
        <div class="blog-description">
            <h2>{{blog.title}}:
                <div class="bottom-line-side-long"></div>
            </h2>
            <h1>{{blog.subheading}}</h1>
            <p>{{blog.body|slice:"400"}}.....</p>
            <a href="{% url 'blog' pk=blog.pk %}" class="btn-small btn-primary form-buttom">
                Read More<i class="fa-sharp fa-solid fa-right-to-bracket"></i>
            </a>
        </div>
    </div>
    {% endfor %}
    {% if request.user.is_superuser %}
    <button class="btn-nav">
        <a class="btn-small btn-secondary form-buttom" href="{% url 'create-blog' %}">Create Blog <i
                class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
    </button>
    {% endif %}
</section>

{% endblock content %}