{% load static %}
<!-- Blog Section -->
<h2 class="section-title spacing-1" id="blog-posts">Read Our Blog:</h2>
<div class="bottom-line"></div>
<section id="blog" class="blog spacing-1">
    <div class="row">
        <div class="column">
            <div class="column-1">
                <img src="{% static 'images/sip/sipout.jpeg' %}" alt="">
            </div>
        </div>
        <div class="column">
            <div class="column-2 bg-light">
                <h4>November 20th 2022</h4>
                <h2>Blog Post One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam laboriosam perferendis
                    aliquid maxime incidunt amet facere, repudiandae libero ad.</p>
                <a href="#" class="btn btn-primary">Read More
                    <i class="fa-solid fa-circle-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row flex-reverse">
        <div class="column">
            <div class="column-1">
                <img src="{% static 'images/sip/sip.jpeg' %}" alt="">
            </div>
        </div>
        <div class="column">
            <div class="column-2 bg-dark">
                <h4>December 15th 2022</h4>
                <h2>Blog Post Two</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam laboriosam perferendis
                    aliquid maxime incidunt amet facere, repudiandae libero ad.</p>
                <a href="#" class="btn btn-primary">Read More
                    <i class="fas fa-solid fa-circle-chevron-right"></i></a>
            </div>
        </div>
    </div>