{% load static %}
<style>
    .btn {
        background-color: #c80e13;
    }
</style>
<!-- Call to Action-->
<div class="card text-center text-white">
    <div class="card-body" style="background-color: whitesmoke;">
        <h1 class="text"
            style="font-family: 'EB Garamond', serif; font-style: italic; font-weight: bold;  color: #201e1e;">
            <u>What Makes Farmec Different?</u>
        </h1>
    </div>
</div>
<!-- Content Row-->
<section class="container"
    style="font-family: 'EB Garamond', serif; font-style: normal; font-weight: bolder;  color: #201e1e;">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">What We Bring:</h2>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
                        repellendus in, mollitia dolorem sed placeat quidem repellat ipsa amet doloribus consequatur
                        nihil nisi repudiandae sint.</p>
                </div>
                <div class="card-footer"><a class="btn btn-dark btn-md" href="#!"><u>More Info</u></a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Farmec's Exclusive Machinery Lineup:</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex
                        natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore
                        voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer"><a class="btn btn-dark btn-md" href="#!"><u>More Info</u></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Extensive Range of Spare Parts:</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas
                        ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-dark btn-md" href="#!"><u>More Info</u></a></div>
            </div>
        </div>
    </div>
</section>

<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">Virtual</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Iure, quas quidem possimus dolorum esse eligendi?
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-person-square"></i>
                        </div>
                        <h3 class="card-title mb-3">Hybrid</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Iure, quas quidem possimus dolorum esse eligendi?
                        </p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-people"></i>
                        </div>
                        <h3 class="card-title mb-3">In Person</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Iure, quas quidem possimus dolorum esse eligendi?
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>