{% load static %}
<!-- Contact Page -->
<section id="contact-page" class="text-center">
    <div class="container">
        <!-- Form -->
        <h2>Contact Us <div class="bottom-line"></div>
        </h2>
        <div class="form-container">

            <form action="" class="contact-form" aria-required="true">
                <input type="text" placeholder="Your Name..." required>
                <input type="email" name="" id="" placeholder="Enter Your Email...">
                <textarea name="" id="" cols="30" rows="10" placeholder="Write Your Message here..."
                    required></textarea>
                <input type="submit" value="Send" class="send-button">
            </form>

            <!-- Map -->
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2373.6704936391766!2d-6.544204500031149!3d53.49221708901926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486769ed2106d747%3A0xaf9e9310f0a7251c!2sFarmec%20Ireland%20Ltd!5e0!3m2!1sen!2sie!4v1670007736269!5m2!1sen!2sie"
                    width="600" height="525" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!-- Business Info -->
            <div class="business-info">
                <h1>Business Information:</h1>
                <h2>Opening Hours: <span> 9am-5:30pm Monday-Friday</span></h2>
                <h2>Telephone: (01) 825 9289</h2>
                <h2>International: <span>+353 1 825 9289</span></h2>
                <h2>Email: info@farmec.ie</h2>

                <div class="social">
                    <a href="" target="_blank"><button class="facebook"><i class="fab fa-facebook"></i></button></a>
                    <a href="" target="_blank"><button class="twitter"><i class="fab fa-twitter"></i></button></a>
                    <a href="" target="_blank"><button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
                </div>
            </div>
        </div>
    </div>
</section>