{% load static %}
<!-- Footer -->
<footer id="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="navigation">
                <ul>
                    <li><a href="index.html">Home </a> |</li>
                    <li><a href="about.html">About </a> |</li>
                    <li><a href="blog.html">Blog </a> |</li>
                    <li><a href="suppliers.html">Suppliers </a> |</li>
                    <li><a href="parts.html">Spare Parts </a> |</li>
                </ul>
            </div>
            <p>Copyright &copy; 2022. All Rights Reserved</p>
            <div class="social">
                <a href="" target="_blank" class="soc"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://twitter.com/farmec1" target="_blank" class="soc"><i
                        class="fab fa-twitter fa-2x"></i></a>
                <a href="" target="_blank" class="soc"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="" target="_blank" class="soc"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="#" class="to-top active"><i class=" fas fa-chevron-up"></i></a>
            </div>
        </div>
    </div>
    </div>
</footer>