{% load static %}
<!-- Footer -->
<footer id="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="information">
                <img src="{% static 'images/farmeclogo.png' %}" alt="little-logo">
                <ul>
                    <li>Farmec Ireland Ltd.</li>
                    <li>Clonross, Drumree</li>
                    <li>Co. Meath,</li>
                    <li>A85 PK30</li>
                    <li>Tel: 01 - 8259289</li>
                    <li>Email: <a href="" class="email">info@farmec.ie</a></li>
                    <li>
                        <a class="legal" href="">Terms of Use |</a>
                        <a class="legal" href="">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="accreditation">
                <p>Accreditation:</p>
                <a target="_blank" href="https://ftmta.ie/"><img src="{% static 'images/ftmta-logo.png' %}" alt=""></a>
                <div class="social">
                    <a href="" target="_blank" class="soc"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="https://twitter.com/farmec1" target="_blank" class="soc"><i
                            class="fab fa-twitter fa-2x"></i></a>
                    <a href="" target="_blank" class="soc"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="" target="_blank" class="soc"><i class="fab fa-linkedin fa-2x"></i></a>
                </div>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="index.html">Home </a></li>
                    <li><a href="about.html">About </a></li>
                    <li><a href="blog.html">Blog </a></li>
                    <li><a href="suppliers.html">Suppliers </a></li>
                    <li><a href="parts.html">Spare Parts </a></li>
                </ul>
            </div>
            <a href="#" class="to-top active"><i class=" fas fa-chevron-up"></i></a>
        </div>

    </div>
</footer>