{% extends 'main.html' %}

{% load static %}

{% block content %}
<!-- Header Content -->
<div class="header-content">
	<div class="header-subcontent">
		<h1>
			<span class="txt-type" data-wait="100000"
				data-words='["Importers & Distributors of World Class Farm Machinery"]'></span>
		</h1>
		<a href="#home-a" class="btn btn-primary">
			Find Out More <i class="fa-sharp fa-solid fa-circle-chevron-down"></i>
		</a>
	</div>
</div>

<!-- Home Section -->
<section id="home" class="text-center py2">

	<!-- Stats -->
	<div class="container spacing">
		<h2 class="section-title">Farmec at a Glance:</h2>
		<div class="bottom-line"></div>
	</div>
	<div class="stats" id="home-a">
		<div>
			<ul>
				<a href="">
					<h1>Large Network</h1>
					<li><i class="fas fa-solid fa-users fa-4x"></i></li>
					<li class="stats-title">Dealers Nationwide</li>
					<li class="stats-number">50+</li>
				</a>
			</ul>
		</div>
		<div>
			<ul>
				<a href="about.html">
					<h1>Experience</h1>
					<li><i class="fas fa-solid fa-business-time fa-4x"></i></li>
					<li class="stats-title">Years in Business</li>
					<li class="stats-number">28</li>
				</a>
			</ul>
		</div>
		<div>
			<ul>
				<a href="">
					<h1>Diverse Range</h1>
					<li><i class="fas fa-solid fa-handshake fa-4x"></i></li>
					<li class="stats-title">Expert Line-up of Suppliers</li>
					<li class="stats-number">10+</li>
				</a>
			</ul>
		</div>
		<div>
			<ul>
				<a href="">
					<h1>Commitment</h1>
					<li><i class="fas fa-solid fa-wrench fa-4x"></i></li>
					<li class="stats-title">Guarateed Warranty</li>
					<li class="stats-number">2+ Years</li>
				</a>
			</ul>
		</div>
	</div>

	<!-- Specials -->
	<div class="container">
		<h2 class="section-title">We Specialize In:</h2>
		<div class="bottom-line"></div>
	</div>
	<div class="specials">
		<div class="icon">
			<a href="about.html">
				<ul>
					<li><i class="fas fa-regular fa-tractor fa-3x"></i></li>
					<li>
						<h3>Quality Stock</h3>
					</li>
					<li>
						<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sunt
							maiores.
							Quasi
							beatae minus asperiores sed natus animi sapiente corrupti.</p>
					</li>
				</ul>
			</a>
		</div>
		<div class="icon">
			<a href="about.html">
				<ul>
					<li><i class="fas fa-regular fa-toolbox fa-3x"></i></li>
					<li>
						<h3>Machine Assembaly</h3>
					</li>
					<li>
						<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sunt
							maiores.
							Quasi
							beatae minus asperiores sed natus animi sapiente corrupti.</p>
					</li>
				</ul>
			</a>
		</div>
		<div class="icon">
			<a href="about.html">
				<ul>
					<li><i class="fas fa-regular fa-gears fa-3x"></i></li>
					<li>
						<h3>Spare Parts</h3>
					</li>
					<li>
						<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sunt
							maiores.
							Quasi
							beatae minus asperiores sed natus animi sapiente corrupti.</p>
					</li>
				</ul>
			</a>
		</div>
		<div class="icon">
			<a href="about.html">
				<ul>
					<li><i class="fas fa-regular fa-user-plus fa-3x"></i></li>
					<li>
						<h3>Customer Service</h3>
					</li>
					<li>
						<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sunt
							maiores.
							Quasi
							beatae minus asperiores sed natus animi sapiente corrupti.</p>
					</li>
				</ul>
			</a>
		</div>
	</div>
	<a href="#blog" class="btn btn-primary spacing-bottom">
		Blog Posts <i class="fa-sharp fa-solid fa-circle-chevron-down"></i>
	</a>
</section>

<!-- Blog Section -->
<h2 class="section-title">Read Our Blog:</h2>
<div class="bottom-line"></div>
<section id="blog" class="blog">
	<div class="row">
		<div class="column">
			<div class="column-1">
				<img src="images/sipout.png" alt="">
			</div>
		</div>
		<div class="column">
			<div class="column-2 bg-light">
				<h4>November 20th 2022</h4>
				<h2>Blog Post One</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam laboriosam perferendis
					aliquid maxime incidunt amet facere, repudiandae libero ad.</p>
				<a href="#" class="btn btn-primary">Read Our Blog
					<i class="fa-solid fa-circle-chevron-right"></i></a>
			</div>
		</div>
	</div>
	<div class="row flex-reverse">
		<div class="column">
			<div class="column-1">
				<img src="images/sip.jpeg" alt="">
			</div>
		</div>
		<div class="column">
			<div class="column-2 bg-dark">
				<h4>December 15th 2022</h4>
				<h2>Blog Post Two</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam laboriosam perferendis
					aliquid maxime incidunt amet facere, repudiandae libero ad.</p>
				<a href="#" class="btn btn-primary">Read Our Blog
					<i class="fas fa-solid fa-circle-chevron-right"></i></a>
			</div>
		</div>
	</div>
</section> <a href="about.html">
	<h1>Experience</h1>
	<li><i class="fas fa-solid fa-business-time fa-4x"></i></li>
	<li class="stats-title">Years in Business</li>
	<li class="stats-number">28</li>
</a>
</ul>
</div>
<div>
	<ul>
		<a href="">
			<h1>Diverse Range</h1>
			<li><i class="fas fa-solid fa-handshake fa-4x"></i></li>
			<li class="stats-title">Expert Line-up of Suppliers</li>
			<li class="stats-number">10+</li>
		</a>
	</ul>
</div>
<div>
	<ul>
		<a href="">
			<h1>Commitment</h1>
			<li><i class="fas fa-solid fa-wrench fa-4x"></i></li>
			<li class="stats-title">Guarateed Warranty</li>
			<li class="stats-number">2+ Years</li>
		</a>
	</ul>
</div>
</div>

<!-- Specials -->
<div class="container">
	<h2 class="section-title">We Specialize In:</h2>
	<div class="bottom-line"></div>
</div>
<div class="specials">
	<div class="icon">
		<a href="about.html">
			<ul>
				<li><i class="fas fa-regular fa-tractor fa-3x"></i></li>
				<li>
					<h3>Quality Stock</h3>
				</li>
				<li>
					<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sunt
						maiores.
						Quasi
						beatae minus asperiores sed natus animi sapiente corrupti.</p>
				</li>
			</ul>
		</a>
	</div>
	<div class="icon">
		<a href="about.html">
			<ul>
				<li><i class="fas fa-regular fa-toolbox fa-3x"></i></li>
				<li>
					<h3>Machine Assembaly</h3>
				</li>
				<li>
					<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sunt
						maiores.
						Quasi
						beatae minus asperiores sed natus animi sapiente corrupti.</p>
				</li>
			</ul>
		</a>
	</div>
	<div class="icon">
		<a href="about.html">
			<ul>
				<li><i class="fas fa-regular fa-gears fa-3x"></i></li>
				<li>
					<h3>Spare Parts</h3>
				</li>
				<li>
					<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sunt
						maiores.
						Quasi
						beatae minus asperiores sed natus animi sapiente corrupti.</p>
				</li>
			</ul>
		</a>
	</div>
	<div class="icon">
		<a href="about.html">
			<ul>
				<li><i class="fas fa-regular fa-user-plus fa-3x"></i></li>
				<li>
					<h3>Customer Service</h3>
				</li>
				<li>
					<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sunt
						maiores.
						Quasi
						beatae minus asperiores sed natus animi sapiente corrupti.</p>
				</li>
			</ul>
		</a>
	</div>
</div>
<a href="#blog" class="btn btn-primary spacing-bottom">
	Blog Posts <i class="fa-sharp fa-solid fa-circle-chevron-down"></i>
</a>
</section>

<!-- Blog Section -->
<h2 class="section-title">Read Our Blog:</h2>
<div class="bottom-line"></div>
<section id="blog" class="blog">
	<div class="row">
		<div class="column">
			<div class="column-1">
				<img src="images/sipout.png" alt="">
			</div>
		</div>
		<div class="column">
			<div class="column-2 bg-light">
				<h4>November 20th 2022</h4>
				<h2>Blog Post One</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam laboriosam perferendis
					aliquid maxime incidunt amet facere, repudiandae libero ad.</p>
				<a href="#" class="btn btn-primary">Read Our Blog
					<i class="fa-solid fa-circle-chevron-right"></i></a>
			</div>
		</div>
	</div>
	<div class="row flex-reverse">
		<div class="column">
			<div class="column-1">
				<img src="images/sip.jpeg" alt="">
			</div>
		</div>
		<div class="column">
			<div class="column-2 bg-dark">
				<h4>December 15th 2022</h4>
				<h2>Blog Post Two</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam laboriosam perferendis
					aliquid maxime incidunt amet facere, repudiandae libero ad.</p>
				<a href="#" class="btn btn-primary">Read Our Blog
					<i class="fas fa-solid fa-circle-chevron-right"></i></a>
			</div>
		</div>
	</div>
</section>
{% endblock content %}