{% extends 'main.html' %}
{% load static %}

{% block content %}
<h2 class="form-heading text-center">
    Login Form <div class="bottom-line"></div>
</h2>
<p class="form-lead text-center">Fill out the form field(s) below:</p>

<section id="form">
    <form action="{% url 'login' %}" method="POST" class="form">
        {% csrf_token %}
        <div class="heading">
            <img src="{% static 'images/farmeclogo.png' %}" alt="">
            <h1>Staff/Dealer Login:</h1>
            <h2>Enter your details below...</h2>
        </div>

        <div class="input">
            <h1>Username:</h1>
            <input class="input" type="text" name="username" placeholder="Enter your username...">
            <h1>Password:</h1>
            <input class="input" type="password" name="password" placeholder="Enter your password...">
            {{form.captcha}}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>


        <button class="btn-nav">
            <input type="submit" value="Login" class="login btn-small btn-primary form-button" class="form-button">
        </button>
    </form>
</section>
{% endblock content %}