{% load static %}
<header>
    <div class="container">
        <!-- Navbar -->
        <nav id="navbar" class="{% if request.resolver_match.url_name == 'home' %} main-page {% endif %}">
            <a href="{% url 'home' %}"><img src="{% static 'images/farmeclogo.png' %}" alt="Logo" id="logo"></a>
            <ul class="nav-list">

                <!-- <li class="nav-list-item"><a href="{% url 'home' %}"
                        class="{% if request.resolver_match.url_name == 'home' %} current {% endif %}">Home</a>
                </li> -->

                <li class="nav-list-item"><a href="{% url 'about' %}"
                        class="{% if request.resolver_match.url_name == 'about' %} current {% endif %}">About Us</a>
                    <ul class="nav-drop">
                        <li><a href="{% url 'about' %}">Our Team</a></li>
                        <li><a href="{% url 'timeline' %}">Our Story</a></li>
                    </ul>
                </li>

                <li class=" nav-list-item"><a href="{% url 'suppliers' %}"
                        class="{% if request.resolver_match.url_name == 'suppliers' %} current {% endif %}">Agriculture</a>
                    <ul class="nav-drop">
                        {% for suppliers in suppliers %}
                        <li><a href="{% url 'supplier' pk=suppliers.pk %}">{{ suppliers.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>


                <li class="nav-list-item"><a href="{% url 'amenitys' %}"
                        class="{% if request.resolver_match.url_name == 'amenitys' %} current {% endif %}">Amenity</a>
                    <ul class="nav-drop">
                        {% for amenitys in amenitys %}
                        <li><a href="{% url 'amenity' pk=amenitys.pk %}">{{ amenitys.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-list-item"><a href="{% url 'blogs' %}"
                        class="{% if request.resolver_match.url_name == 'blogs' %} current {% endif %}">Blog</a>
                </li>

                <li class="nav-list-item"><a href="{% url 'contact' %}"
                        class="{% if request.resolver_match.url_name == 'contact' %} current {% endif %}">Spare
                        Parts</a>
                </li>

            </ul>
        </nav>
    </div>
</header>