{% load static %}
<header id="home">
    <!-- Navbar -->
    <nav id="navbar" class="{% if request.url == 'home' %} main-page {% endif %}">
        <a href="{% url 'home' %}"><img src="{% static 'images/farmec-logo-2.png' %}" alt="" id="logo"></a>
        <ul>
            <li><a href="{% url 'home' %}" class="current">Home</a></li>
            <li><a href="{% url 'teams' %}">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="suppliers.html">Suppliers</a></li>
            <li><a href="parts.html">Spare Parts</a></li>
        </ul>
    </nav>
</header>