{% load static %}
<!-- Specials -->
<div class="container">
    <h2 class="section-title">We Specialize In:<div class="bottom-line"></div>
    </h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, officiis.</p>
</div>

<div class="specials">
    {% for specials in specials %}
    <div class="icon">
        <a href="about.html">
            <ul>
                <li><img src="{{specials.imageurl}}" alt=""></li>
                <li>
                    <h3>{{specials.title}}</h3>
                </li>
                <li>
                    <p>{{specials.body}}</p>
                </li>
            </ul>
        </a>
    </div>
    {% endfor %}
</div>
<a href="#blurb" class="btn btn-primary spacing-bottom spacing-1">
    Blog Posts <i class="fa-sharp fa-solid fa-circle-chevron-down"></i>
</a>