{% load static %}
<!-- Home Section -->
<section id="home" class="text-center">
    <!-- Stats -->
    <div class="container spacing">
        <h2 class="section-title">Farmec at a Glance:</h2>
        <div class="bottom-line"></div>
        <p class="lead">This is a Quick Look at what Seperates us from our Competetitors</p>
    </div>
    <div class="stats">
        {% for stats in stats %}
        <div>
            <ul>
                <a href="#">
                    <h1>{{stats.title}}</h1>
                    <li><img src="{{stats.imageurl}}" alt=""></li>
                    <li class="stats-title">{{stats.subheading}}</li>
                </a>
            </ul>
        </div>
        {% endfor %}
    </div>

    {% include 'specials.html' %}
</section>