{% extends 'main.html' %}
{% load static %}

{% block content %}
<!-- About - Timeline -->
<section id="timeline" class="text-center py-2">

    <div class="container spacing">
        <div class="top-section">
            <h2>Our Story</h2>
            <p class="lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore corporis rerum consequuntur atque
                similique perspiciatis esse, ipsum adipisci. Non, beatae inventore officia exercitationem placeat
                ullam qui maiores. Nobis, architecto tempore.
            </p>
        </div>

        <div class="timeline">
            <div class="line"></div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About - Team -->
<section id="about-team" class="text-center py-2">
    <div class="container">
        <h2>Our Team</h2>
        <div class="bottom-line"></div>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, cumque.</p>

        <!-- Bio Section -->
        <div class="spacing">
            <div class="about-info">
                {% for staff in staff %}
                <div class="card">
                    <div class="card-image">
                        <img src="{{staff.imageurl}}" alt="Profile Image">
                    </div>
                    <p class="name">{{staff.name}}</p>
                    <p class="role">{{staff.role}}</p>
                    <p class="short bio">{{staff.bio | slice:"200"}}</p>
                    <div class="socials">
                        <button class="twitter"><i class="fab fa-twitter"></i></button>
                        <button class="linkedin"><i class="fab fa-linkedin"></i></button>
                        <button class="whatsapp"><i class="fab fa-whatsapp"></i></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>

{% endblock content %}