{% extends 'main.html' %}
{% load static %}

{% block content %}

{% include './timeline.html' %}

<!-- About - Team -->
<section id="about-team" class="text-center py-2">
    <div class="container">
        <h2>Our Team</h2>
        <div class="bottom-line"></div>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, cumque.</p>

        <!-- Bio Section -->
        <div class="spacing">
            <div class="about-info">
                {% for staff in staff %}
                <div class="card">
                    <div class="card-image">
                        <img src="{{staff.imageurl}}" alt="Profile Image">
                    </div>
                    <p class="name lead-1">{{staff.name}}</p>
                    <p class="role lead-1">{{staff.role}}</p>
                    <p class="short bio lead">{{staff.bio | slice:"250"}}</p>
                    <div class="socials">
                        {% if staff.social_twitter %}
                        <a href="{{staff.social_twitter}}" target="_blank"><button class="twitter"><i
                                    class="fab fa-twitter"></i></button></a>
                        {% endif %}
                        {% if staff.social_linkedin %}
                        <a href="{{staff.linkedin}}" target="_blank"><button class="linkedin"><i
                                    class="fab fa-linkedin"></i></button></a>
                        {% endif %}
                        {% if staff.social_whatsapp %}
                        <a href="{{staff.social_whatsapp}}" target="_blank"><button class="whatsapp"><i
                                    class="fab fa-whatsapp"></i></button></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>

{% endblock content %}