{% load static %}

{% block content %}
<!-- About - Timeline -->
<section id="timeline" class="text-center">
    <div class="container">
        <div class="top-section">
            <h2>Our Story</h2>
            <p class="lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore corporis rerum consequuntur atque
                similique perspiciatis esse, ipsum adipisci. Non, beatae inventore officia exercitationem placeat
                ullam qui maiores. Nobis, architecto tempore.
            </p>
        </div>

        <div class="timeline">
            <div class="line"></div>

            <div class="section hidden">
                <div class="bead"></div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

            <div class="section hidden">
                <div class="bead"></div>
                <div class="content">
                    <h2>Web Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque illum officia in
                        dolore eveniet voluptatum ipsa quia aliquam culpa harum nisi nulla inventore repellat ullam
                        quas atque, corporis architecto?
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}