{% load static %}

{% block content %}
<!-- About - Timeline -->
<section id="timeline">

    <h2 class="text-center">Our Story<div class="bottom-line"></div>
    </h2>
    <p class="company-bio text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quia
        illo ex minus commodi magnam quos exercitationem, ducimus, pariatur quaerat debitis recusandae aut beatae
        molestiae et saepe. Nam, perferendis voluptates!
    <div class="bottom-line"></div>
    </p>

    <div class="timeline">
        {% for timeline in timeline %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="timeline-container right-container">
            <div class="text-box">
                <h2>{{timeline.title}}</h2>
                <h3><i class="fa fa-clock"></i> - {{timeline.date}}</h3>
                <p>{{timeline.body}}</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        {% else %}
        <div class="timeline-container left-container">
            <div class="text-box">
                <h2>{{timeline.title}}</h2>
                <h3><i class="fa fa-clock"></i> - {{timeline.date}}</h3>
                <p>{{timeline.body}}</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

<script src="{% static 'js/timeline.js' %}"></script>
{% endblock %}