#form {
    display: flex;
    margin: 2rem 12rem 5rem 12rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--light-color);
}

.captcha {
    display: flex;
    justify-content: center;
    width: 10rem;
    border-radius: 1rem;
}

#form .form {
    background-color: var(--mdark-color);
    border: 3px solid var(--primary-color);
    padding: 3rem;
    border-radius: 2rem;
}

#form .form-fields {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#form .input {
    width: 45rem;
    text-align: start;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 0.8rem;
}

#form .input h1 {
    color: var(--light-color);
    text-decoration: underline;
    font-weight: 700;
}

#form .input p {
    color: var(--light-color);
}

#form .form-button {
    margin: 1rem;
}

.form-buttons {
    display: flex;
    margin: 0 auto;
}

.form-button {
    margin: 0.25rem;
    text-align: center;
    justify-content: center;
}

.delete-form {
    color: var(--light-color);
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

#form input.input {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 30rem;
    justify-content: center;
    text-align: start;
    appearance: none;
}

#form .input h1 {
    color: var(--light-color);
    text-decoration: underline;
    display: flex;
    justify-content: flex-start;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0;
    margin-left: 7rem;
}

.form-heading {
    margin: 8rem 0 0 0;
}

.form-lead {
    font-size: 1.3rem;
    font-weight: 600;
}