
/* Profile Page */
#profile .profile-body {
    border-radius: 2rem;
    padding: 6rem 1rem 1rem 1rem;
    margin: 0 3rem 0 3rem;
}

#profile .profile-logo {
    width: 10rem;
}

#profile .profile-header h1 {
    font-size: 1.75rem;
    font-weight: 700;
}

#profile .profile-image {
    margin-top: 1rem;
}

#profile .nav-button a {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#profile .border {
    border: 5px solid var(--darker-color);
    border-radius: 2rem;
    margin: 1rem 5rem;
    padding: 1rem 0;
    background-color: var(--mdark-color);
    color: var(--light-color);
}

#profile .profile-grid-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 1rem 4rem 1rem 4rem;
    padding-top: 2rem;
}

#profile .profile-grid-description .logo-index {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#profile .logo-index .model-index {
    justify-self: end;
    margin-right: 20rem;
}

#profile .logo-index .model-index h1 {
    font-size: 1.25rem;
}

#profile .logo-index .model-index a {
    text-decoration: none;
    color: var(--light-color);
    transition: all 0.3s linear;
}

#profile .logo-index .model-index a:hover {
    color: var(--primary-color);
}

#profile .profile-grid-description p {
    max-height: 20rem;
    font-size: 0.9rem;
    font-weight: 500;
}

#profile .profile-facts {
    margin: 2rem 4rem;
    font-size: 1rem;
    font-weight: 500;
}

#profile .nav-button {
    display: flex;
    margin-top: 2rem;
}

/* Machine Cards */
#profile .cards {
    padding-top: 2rem;
}

#profile .machines {
    background-color: var(--darker-color);
    color: var(--light-color);
    margin: 2rem 5rem;
    border-radius: 2rem;
}

#profile .machine-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: 7px solid var(--mdark-color);

}

#profile .machine-card img {
    display: block;
    width: 40rem;
    object-fit: cover;
    border-right: 5px solid var(--mdark-color);
    border-start-start-radius: 0.75rem;
    border-end-start-radius: 0.75rem;
}

#profile .machine-info {
    margin-left: 1rem;
}

#profile .machine-info h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-color);
}

#profile .machine-info p {
    font-size: 1.15rem;
}

#profile .machine-info a {
    margin-top: 1rem;
    margin-left: -.5rem;
}

/* link-grid */
#profile .link-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
}

#profile .supplier-link {
    background: none;
    border: none;
    justify-self: start;
}

#profile .supplier-link a i {
    margin-left: .25rem;
    margin-top: .25rem;
}

#profile .supplier-social {
    justify-self: center;
}

#profile .supplier-social i {
    font-size: 1.5rem;
}

#profile .supplier-social button {
	width: 2.75rem;
	height: 2.75rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s linear;
    margin-right: 1rem;

}

#profile .supplier-social button:hover {
	transform: scale(1.05);
}

#profile .supplier-social a button i {
    color: var(--light-color);
}
