#user-profiles {
    margin: 8rem 10rem 4rem 10rem;
}

#user-profiles .user-profile-grid {
    margin: 1rem 1.5rem;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--mdark-color);
    color: var(--light-color);
    border: 4px solid var(--darker-color);
    border-radius: 1rem;
}

#displays {
    margin: 8rem 10rem 4rem 10rem;  
}

#displays .display-list {
    background-color: var(--mdark-color);
    color: var(--light-color);
    border: 4px solid var(--darker-color);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

#displays .display-list h1 {
    display: flex;
    justify-content: center;
}