{% extends 'main.html' %}
{% load static %}

{% block content %}

{% for product in machine.product_set.all %}
<section id="products" class="products">
    <div class="container">
        <div class="product-grid" id="product-{{forloop.counter}}">
            <h1>
                {{product.name}} <div class="bottom-line-small"></div>
            </h1>
            <img src="{{product.imageurl}}" alt="product image">
            <p>{{product.description}}</p>

            {% if forloop.counter <= machine.product_set.count %} <a href="#product-{{forloop.counter|add:1}}"
                class="btn btn-primary">
                Other Models<i class="fa-sharp fa-solid fa-circle-chevron-down"></i>
                </a>
                {% endif %}
        </div>
    </div>
</section>
{% endfor %}

{% endblock content %}