{% extends 'main.html' %}
{% load static %}

{% block content %}

<section id="profile">
    <div class="container">
        <div class="profile-body">
            <div class="profile-header">
                <h1 class="text-center">{{supplier.name}}
                    <div class="bottom-line"></div>
                </h1>
                <div class="profile-image">
                    <img src="{{supplier.marketing_imageurl}}" alt="">
                </div>
                <div class="nav-button">
                    <a href="#description" class="btn btn-primary">
                        Brand Information <i class="fa-sharp fa-solid fa-circle-chevron-down"></i>
                    </a>
                </div>
            </div>
            <div class="border">
                <div class="profile-grid-description" id="description">
                    <img class="profile-logo" src="{{supplier.imageurl}}" alt="logo">
                    <div class="bottom-line-side"></div>
                    <p>{{supplier.description}}</p>
                </div>
                <div class="profile-facts">
                    <h1>{{supplier.name.split.0}} Features:</h1>
                    <div class="bottom-line-side"></div>
                    {% for fact in supplier.fact_set.all %}
                    <p>{{fact}}</p>
                    {% endfor %}
                </div>
                <div class="nav-button">
                    <a href="#cards" class="btn btn-primary">
                        Brand Products <i class="fa-sharp fa-solid fa-circle-chevron-down"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="cards" id="cards">
            {% for machine in supplier.machine_set.all %}
            <div class="machines" id="machines">
                <div class="machine-card">
                    <img src="{{machine.imageurl}}" alt="machine-image">
                    <div class="machine-info">
                        <h1>{{machine.name}}</h1>
                        <div class="bottom-line-side"></div>
                        <p>{{machine.description}}</p>
                        <a href="{% url 'machine' pk=machine.pk %}" class="btn btn-primary">
                            View Products
                            <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}