{% extends 'main.html' %}
{% load static %}

{% block content %}


<section id="suppliers">
    <div class="container">
        {% for supplier in suppliers %}
        <div class="supplier-profile">
            <div class="link-grid">
                <button class="supplier-link">
                    <a href="" class="button">Supplier Page
                        <i class="fa-sharp fa-solid fa-circle-chevron-right"></i>
                    </a>
                </button>
                <div class="supplier-social">
                    <a href="#" target="_blank"><button class="twitter"><i class="fab fa-twitter"></i></button></a>
                    <a href="#" target="_blank"><button class="facebook"><i class="fab fa-facebook"></i></button></a>
                    <a href="#" target="_blank"><button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
                    <a href="#" target="_blank"><button class="youtube"><i class="fab fa-youtube"></i></button></a>
                </div>
            </div>
            <div class="supplier-info">
                <img src="{{supplier.imageurl}}" alt="supplier-logo">
                <h1>SIP Grass Machinery:</h1>
            </div>
            <img src="{{supplier.marketing_imageurl}}" alt="marketing-image" class="marketing-image">
            <div class="supplier-description">
                <p>{{supplier.description|linebreaks}}</p>
            </div>

            <div class="supplier-facts">
                {% for fact in supplier.fact_set.all %}
                <p>{{fact}}</p>
                <br>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}