{% extends 'main.html' %}
{% load static %}

{% block content %}

<section id="suppliers">
    <div class="container">
        <div class="supplier-profile">
            <div class="supplier-info">
                <img src="{% static 'images/siplogo.png' %}" alt="supplier-logo">
                <h1>SIP Grass Machinery:</h1>
            </div>
            <img src="{% static 'images/sip1250.jpeg' %}" alt="marketing-image" class="marketing-image">
            <div class="supplier-description">
                <p>SIP, with its headquarters in Slovenia (known as the engineering capital of the region), has over 60
                    years experience in the manufacture of farm machinery. SIP was the first company to develop a twin
                    rotor rake. SIP operates from an industry leading manfuacturing facility covering an impressive 8
                    hectares. SIP are experts in grass machinery and produce a range of high quality professional
                    mowers, tedders and rakes.<br>
                    In the past SIP were manufacturing grass machines for well-known German and Austrian manufacturers.
                    They gained valuable experience from this which has been very beneficial in developing their own
                    range of machines. The SIP range includes machines for the private user and the large scale
                    contractor. The company caters for the quality end of the market and all of their production is
                    built to high standard using high quality components (eg SKF, Walterscheid etc) and backed up by a 2
                    year manufacturers warranty. The impressive build quality is enhanced by a really high quality KTL
                    and powder coated paint system. SIP are highly regarded for the quality of their paint system and
                    have for many years been painting components for some of the premium brands in the automotive
                    industry.<br>
                    SIP are very aware of the competitive nature of the agicultural market and of the importance of
                    giving value to farmers and contractors. This focus has led to SIP products being awarded the Number
                    1 place for price v performance. This along with an impressive spare parts back up service is a
                    winning combination for Irish farmers.</p>
            </div>
            <div class="supplier-facts">
                <ul>
                    <li>
                        SIP exports over 80% of production to 55 countries worldwide. Farmec are fully confident that
                        the
                        equipment manufactured by SIP is ideally suited to the demanding Irish market conditions. Many
                        of
                        the SIP mahcines have unique and patented innovations. Some of the SIP innovations include:
                    </li>
                    <li>
                        1. A unique Disc Drive Safety System (DDSS) fitted with safety shear pins to protect the
                        cutterbar
                        is fitted to all mowers allowing the farmer to easily fix the mower in the field in a matter of
                        minutes.
                    </li>
                    <li>
                        2. An excellent adjustable hydraulic ground pressure relief system that makes mowing in all
                        conditions and all terrain easy and hassle free.
                    </li>
                    <li>
                        3. In the transport position the mower is tilted 120 degrees bringing the centre of gravity
                        closer
                        to the tractor giving better stability and visibility during transport.
                    </li>
                    <li>
                        4. A collision safety system (CSS) that after colliding with an obstacle moves the cutterbar
                        backwards and upwards and then automatically returns to the operating position.
                    </li>
                    <li>
                        5. High qulaity tedder tines with different shank lengths to ensure an even tine load
                        dsitribution
                        and better ground following ability to maintain clean forage.
                    </li>
                    <li>

                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="button">
            Supplier Page <i class="fa-sharp fa-solid fa-circle-chevron-right"></i></a>
        <div class="supplier-social">
            <a href="#" target="_blank"><button class="twitter"><i class="fab fa-twitter"></i></button></a>
            <a href="#" target="_blank"><button class="facebook"><i class="fab fa-facebook"></i></button></a>
            <a href="#" target="_blank"><button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="#" target="_blank"><button class="youtube"><i class="fab fa-youtube"></i></button></a>
        </div>
    </div>
</section>

{% endblock content %}